.company {
  color: $primary;
  margin-bottom: 128px;

  .container-purple {
    background: $purple-bg;
    border-radius: 40px;
  }

  &__inner {
    padding: 80px 58px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 40px;
  }

  &__block-1 {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 743px;
    gap: 20px;

    h2 {
      display: inline;
      font-size: $fz-64;
      font-weight: $fw-black;
      line-height: 1.1;
      margin-bottom: 48px;

      .mini-logo {
        display: inline;
        vertical-align: middle;
      }
    }

    p {
      font-size: $fz-20;
      line-height: 1.25;
      margin-bottom: 15px;
    }
    p:last-child {
      margin: 0;
    }

    span {
      font-size: $fz-26;
      font-weight: $fw-black;
    }

    .company-brands {
      display: inline-flex;
      gap: 50px;
      align-items: center;
    }
  }

  &__block-2 {
    min-width: 600px;
  }
}

@media (max-width: 1260px) {
  .company {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .company {
    &__inner {
      padding: 80px 10px;
      .company__block-2 {
        min-width: 200px;
      }
    }

    &__block-1 {
      &-brands {
        flex-wrap: wrap;
      }
    }
    .company-brands {
      flex-direction: column;
    }
  }
}
