.test {
  margin-bottom: 128px;
}
.test__block-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: $fz-72;
    font-weight: $fw-black;
    line-height: 1.5;
    opacity: 0.9;
  }
  p {
    max-width: 610px;
    font-size: $fz-24;
    font-weight: $fw-bold;
    line-height: 1.5;
  }
}
.test__block-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;

  .block1-container {
    position: relative;
    z-index: 2;
    width: 600px;
    height: min(308px, 100%);
    border: 5px solid $primary;
    border-radius: 40px;
    background-color: #ffd00e;
    box-shadow: 10px 15px 0px rgb(182, 147, 7, 1);
    transform: rotate(-20deg);
    &::before {
      content: "";
      position: absolute;
      left: -7%;
      bottom: -30%;
      width: 70px;
      height: 70px;
      background-image: url("../img/Webp/arrows-effect-down.webp");
      z-index: 0;
      transform: rotate(20deg);
    }
    &::after {
      content: "";
      position: absolute;
      right: -12%;
      top: -20%;
      width: 100px;
      height: 100px;
      background-image: url("../img/Webp/arrows-effect.webp");
      background-repeat: no-repeat;
      z-index: 0;
    }

    .block1__inner {
      position: relative;
      padding: 10px 30px;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      .stars {
        transform: rotate(15deg);
      }
      p {
        font-size: $fz-24;
        font-weight: $fw-regular;
        line-height: 1.5;
      }
      span {
        font-weight: $fw-bold;
      }
    }

    .blur {
      position: absolute;
      left: 40%;
      right: 0;
      bottom: 0;
      z-index: 0;

      width: 46%;
      aspect-ratio: 1;
      box-shadow: 0px 0px 500px 20px rgba($yellow, 1);
      border-radius: 50%;
    }
  }

  .block2-item {
    position: relative;
    flex-basis: 562px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(20%);
  }
  .block2-item > img[alt="holiday-smile"] {
    align-self: flex-end;
  }
}
.test__inner {
  p {
    max-width: 930px;
    font-size: $fz-24;
    font-weight: $fw-bold;
    line-height: 1.5;
    color: $sec-dark;
    margin-top: 10px;
  }
}

@media (max-width: 1400px) {
  .test__block-2 {
    .block2-item {
      transform: none;
    }
  }
}

@media (max-width: 1024px) {
  .test__block-1 {
    display: block;
    p {
      width: min(800px, 100%);
    }
  }
  .test__block-2 {
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    .block1-container {
      transform: rotate(0deg);
    }
  }
  .test__block-2 {
    .block2-item {
      flex-direction: row;
    }
  }
}
@media (max-width: 768px) {
  .test__block-2 {
    .block1-container {
      .blur {
        display: none;
      }
    }
  }
}
@media (max-width: 650px) {
  .test__block-2 {
    .block1-container::before,
    .block1-container::after {
      display: none;
    }
    .block2-item {
      flex-wrap: wrap;
    }
  }
}
